:root {
    --primary-color: #4a90e2;
    --secondary-color: #5f9ea0;
    --text-color: #ffffff;
    --background-color: #343a40;
    --card-bg-color: #495057;
    --border-radius: 16px;
    --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    --gradient: linear-gradient(135deg, #4a90e2, #5f9ea0);
    --link-color: #3584e4;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav {
    margin-top: 1rem;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #dee2e6;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.card {
    background: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.hidden {
    display: none !important;
}

.socials a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 4px solid var(--secondary-color);
}

.card label, .socials-links label {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.8rem;
    color: var(--secondary-color);
}

.space {
    margin-top: 75px;
}

.socials {
    display: grid;
    grid-template-areas: 'social  social  social  social  social  social';
    gap: 10px;
}

.socials-links {
    text-align: center;
}

.x, .github {
    background: linear-gradient(195deg,rgb(29,29,29) 25%,rgb(39,39,39) 50%,rgb(39,39,39) 75%,rgb(29,29,29) 100%);
}

.telegram {
    background: linear-gradient(135deg,rgb(84,188,249) 0%,rgb(28,80,177) 100%);
}

.instagram {
    background: linear-gradient(195deg,rgb(151,120,209) 0%,rgb(207,42,186) 25%,rgb(238,44,130) 50%,rgb(251,105,98) 75%,rgb(254,248,76) 100%);
}

.linkedin {
    background: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(29,98,216) 100%);
}

.mastodon {
    background: linear-gradient(135deg,rgb(90,123,246) 0%,rgb(90,63,215) 100%);
}

footer {
    background: var(--gradient);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: sticky;
    bottom: 0;
    box-shadow: var(--box-shadow);
}

footer p {
    margin: 0;
}

@media (max-width: 900px) {
    .socials {
        display: grid;
        grid-template-areas: 'social  social  social';
        gap: 10px;
    }
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 0.5rem 0;
    }

    .card {
        padding: 1rem;
    }
    
    .socials {
        display: grid;
        grid-template-areas: 'social  social';
        gap: 10px;
    }
}